# Node Configuration
NODE_ID=node1
HOST=localhost
ADVERTISE_HOST=localhost
PORT=8001
PEERS=localhost:8002,localhost:8003
REGION=asia
PEER_REGIONS=node2:asia,node3:us
LATENCY_PROFILE=asia->us:180,us->asia:180,asia->asia:20,us->us:20

ENV_FILE=.env
