# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Logs
*.log

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Testing / coverage
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/

# Docker (optional)
*.tar

# Temporary files
*.tmp
*.swp

# Runtime persistence
data/
.env.node1
.env.node2
.env.node3
IF2514604E2526_ Tugas 3 _ Elearning ITK.pdf
laporan_distributed_sync_system_inline.md
template_report.md
