# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Logs
*.log

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Testing / coverage
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/

# Docker (optional)
*.tar

# Temporary files
*.tmp
*.swp